<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>系统设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div id="colorPicker"></div>
<hr/>
<div id="ID-rate-demo-half"></div>
<hr/>
<h3>数据库SQL：</h3>
<pre class="layui-code code-demo" lay-options="{}">
SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for area
-- ----------------------------
DROP TABLE IF EXISTS `area`;
CREATE TABLE `area`  (
  `code` varchar(6) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL DEFAULT '' COMMENT '地址编码',
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '地区名称',
  `full_name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NULL DEFAULT NULL COMMENT '地区全称',
  `parent_code` varchar(6) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '上级编码',
  `level` tinyint NOT NULL COMMENT '地区级别：1-省  2-市  3-县',
  PRIMARY KEY (`code`) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb3 COLLATE = utf8mb3_general_ci COMMENT = '三级地区信息表' ROW_FORMAT = Dynamic;

-- ----------------------------
-- Table structure for browse
-- ----------------------------
DROP TABLE IF EXISTS `browse`;
CREATE TABLE `browse`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '浏览记录编号',
  `who` int UNSIGNED NOT NULL COMMENT '浏览用户编号 (外键)',
  `what` int UNSIGNED NOT NULL COMMENT '浏览通知编号 (外键)',
  `when` timestamp NOT NULL COMMENT '浏览时间',
  PRIMARY KEY (`id`) USING BTREE,
  INDEX `key_browse_who_user_id`(`who` ASC) USING BTREE,
  INDEX `key_browse_what_notice_id`(`what` ASC) USING BTREE,
  CONSTRAINT `key_browse_what_notice_id` FOREIGN KEY (`what`) REFERENCES `notice` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `key_browse_who_user_id` FOREIGN KEY (`who`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 2 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '通知浏览记录表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for checklist
-- ----------------------------
DROP TABLE IF EXISTS `checklist`;
CREATE TABLE `checklist`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '清单编号',
  `action_user` int UNSIGNED NOT NULL COMMENT '操作人员',
  `action_time` datetime NOT NULL COMMENT '操作时间',
  `total_amount` decimal(10, 2) UNSIGNED NOT NULL COMMENT '药品总价',
  `vendor_id` tinyint UNSIGNED NOT NULL COMMENT '供应商户',
  `verify_user` int UNSIGNED NULL DEFAULT NULL COMMENT '审核人员',
  `verify_time` datetime NULL DEFAULT NULL COMMENT '审核时间',
  PRIMARY KEY (`id`) USING BTREE,
  INDEX `fk_action_user_user_id`(`action_user` ASC) USING BTREE,
  INDEX `fk_vendor_id_vendor_id`(`vendor_id` ASC) USING BTREE,
  INDEX `fk_verify_user_user_id`(`verify_user` ASC) USING BTREE,
  CONSTRAINT `fk_action_user_user_id` FOREIGN KEY (`action_user`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_vendor_id_vendor_id` FOREIGN KEY (`vendor_id`) REFERENCES `vendor` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_verify_user_user_id` FOREIGN KEY (`verify_user`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 7 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '药品出入库清单表' ROW_FORMAT = Dynamic;

-- ----------------------------
-- Table structure for identity
-- ----------------------------
DROP TABLE IF EXISTS `identity`;
CREATE TABLE `identity`  (
  `id` tinyint UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '身份编号',
  `name` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '身份类型',
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 17 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '用户身份类型表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for log
-- ----------------------------
DROP TABLE IF EXISTS `log`;
CREATE TABLE `log`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '日志编号',
  `who` int UNSIGNED NOT NULL COMMENT '用户编号(外键)',
  `name` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户昵称',
  `ip` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '机器IP地址',
  `login` datetime NOT NULL COMMENT '登录时间',
  `logout` datetime NOT NULL COMMENT '退出时间',
  `type` tinyint UNSIGNED NOT NULL COMMENT '操作类型(0-用户在线 1-主动退出 2-会话过期)',
  PRIMARY KEY (`id`) USING BTREE,
  INDEX `log_who_user_id`(`who` ASC) USING BTREE,
  CONSTRAINT `log_who_user_id` FOREIGN KEY (`who`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 106 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '用户登录日志表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for medicine
-- ----------------------------
DROP TABLE IF EXISTS `medicine`;
CREATE TABLE `medicine`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '药品编号',
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '药品名称',
  `code` varchar(15) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '国药准字',
  `compose` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '药品成分',
  `specs` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '药品规格',
  `usage` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '用法用量',
  `image` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '药品照片',
  `origin` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '生产厂家',
  `status` tinyint UNSIGNED NOT NULL COMMENT '状态信息 (1-可用 2-停用)',
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 31 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '药品信息表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for menu
-- ----------------------------
DROP TABLE IF EXISTS `menu`;
CREATE TABLE `menu`  (
  `id` tinyint UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '菜单编号',
  `name` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '菜单名称',
  `url` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '菜单链接',
  `icon` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '菜单图标',
  `parent` tinyint UNSIGNED NOT NULL COMMENT '上级编号',
  `level` tinyint UNSIGNED NOT NULL COMMENT '菜单级别',
  `status` tinyint UNSIGNED NOT NULL COMMENT '菜单状态 (1-使用 2-停用)',
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 18 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '菜单信息表' ROW_FORMAT = Dynamic;

-- ----------------------------
-- Table structure for notice
-- ----------------------------
DROP TABLE IF EXISTS `notice`;
CREATE TABLE `notice`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '通知编号',
  `title` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '通知标题',
  `content` varchar(1000) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '通知内容',
  `sender` int UNSIGNED NOT NULL COMMENT '发布用户 (外键)',
  `when` datetime NOT NULL COMMENT '发布时间',
  `receiver` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '接收用户类型',
  `status` tinyint UNSIGNED NOT NULL COMMENT '通知状态 (1-未发布 2-已发布 3-已销毁)',
  `type` tinyint UNSIGNED NOT NULL COMMENT '通知类型 (1-普通通知 2-维护通知)',
  PRIMARY KEY (`id`) USING BTREE,
  INDEX `notice_sender_user_id`(`sender` ASC) USING BTREE,
  INDEX `notice_receiver_identity_id`(`receiver` ASC) USING BTREE,
  CONSTRAINT `notice_sender_user_id` FOREIGN KEY (`sender`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 2 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '通知信息表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for record
-- ----------------------------
DROP TABLE IF EXISTS `record`;
CREATE TABLE `record`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '记录编号',
  `when` date NOT NULL COMMENT '记录时间',
  `what` int UNSIGNED NOT NULL COMMENT '药品编号 (外键)',
  `type` tinyint NOT NULL COMMENT '操作类型 (1-入库 2-出库)',
  `count` int UNSIGNED NOT NULL COMMENT '药品数量',
  `price` decimal(10, 2) UNSIGNED NOT NULL COMMENT '药品单价',
  `birthday` date NOT NULL COMMENT '生产日期',
  `from` tinyint UNSIGNED NOT NULL COMMENT '供应商编号 (外键)',
  `who` int UNSIGNED NOT NULL COMMENT '操作用户 (外键)',
  `parent` int UNSIGNED NOT NULL COMMENT '清单编号 (外键)',
  `other` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '备注信息',
  PRIMARY KEY (`id`) USING BTREE,
  INDEX `key_what_medicine_id`(`what` ASC) USING BTREE,
  INDEX `key_who_user_id`(`who` ASC) USING BTREE,
  INDEX `record_from_vendor_id`(`from` ASC) USING BTREE,
  CONSTRAINT `record_from_vendor_id` FOREIGN KEY (`from`) REFERENCES `vendor` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `record_what_medicine_id` FOREIGN KEY (`what`) REFERENCES `medicine` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `record_who_user_id` FOREIGN KEY (`who`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 181 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '库存变动记录表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for role_menu
-- ----------------------------
DROP TABLE IF EXISTS `role_menu`;
CREATE TABLE `role_menu`  (
  `identity_id` tinyint UNSIGNED NOT NULL COMMENT '身份编号 (外键)',
  `menu_id` tinyint UNSIGNED NOT NULL COMMENT '菜单编号 (外键)',
  PRIMARY KEY (`identity_id`, `menu_id`) USING BTREE,
  INDEX `fk_menu_id`(`menu_id` ASC) USING BTREE,
  CONSTRAINT `fk_identity_id` FOREIGN KEY (`identity_id`) REFERENCES `identity` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_menu_id` FOREIGN KEY (`menu_id`) REFERENCES `menu` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '角色菜单关联表' ROW_FORMAT = Dynamic;

-- ----------------------------
-- Table structure for stock
-- ----------------------------
DROP TABLE IF EXISTS `stock`;
CREATE TABLE `stock`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '库存编号',
  `medicine_id` int UNSIGNED NOT NULL COMMENT '药品编号(外键)',
  `birthday` date NOT NULL COMMENT '有效日期',
  `price` decimal(10, 2) UNSIGNED NOT NULL COMMENT '药品单价',
  `count` int UNSIGNED NOT NULL COMMENT '库存数量',
  PRIMARY KEY (`id`) USING BTREE,
  INDEX `stock_medicine_id`(`medicine_id` ASC) USING BTREE,
  CONSTRAINT `stock_medicine_id` FOREIGN KEY (`medicine_id`) REFERENCES `medicine` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 183 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '药品库存信息表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for user
-- ----------------------------
DROP TABLE IF EXISTS `user`;
CREATE TABLE `user`  (
  `id` int UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '用户编号',
  `name` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户姓名',
  `phone` varchar(11) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '手机号码',
  `password` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '账户密码',
  `address` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '居住地址',
  `card` varchar(18) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '身份证号',
  `other` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '其他信息',
  `type` tinyint UNSIGNED NOT NULL COMMENT '身份类型 (外键)',
  `status` tinyint UNSIGNED NOT NULL COMMENT '状态信息 (1-可用 2-停用)',
  `binary` longblob NOT NULL COMMENT '二进制图片',
  `base64` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'base64图片',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE INDEX `unique_user_phone`(`phone` ASC) USING BTREE COMMENT '用户手机号码不重复',
  INDEX `user_type_identity_id`(`type` ASC) USING BTREE,
  CONSTRAINT `user_type_identity_id` FOREIGN KEY (`type`) REFERENCES `identity` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 14 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '用户信息表' ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Table structure for vendor
-- ----------------------------
DROP TABLE IF EXISTS `vendor`;
CREATE TABLE `vendor`  (
  `id` tinyint UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '供应商编号',
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '供应商名称',
  `people` int UNSIGNED NOT NULL COMMENT '法定代表人 (外键)',
  `address` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '详细地址',
  `code` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '营业执照号',
  `phone` varchar(11) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '联系电话',
  `email` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '电子邮箱',
  `postcode` varchar(6) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '邮政编码',
  `bank` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '开户银行',
  `account` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '银行账户 (16位/19位)',
  `status` tinyint UNSIGNED NOT NULL COMMENT '状态信息 (1-可用 2-停用)',
  PRIMARY KEY (`id`) USING BTREE,
  INDEX `vendor_people_user_id`(`people` ASC) USING BTREE,
  CONSTRAINT `vendor_people_user_id` FOREIGN KEY (`people`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 5 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_general_ci COMMENT = '供应商信息表' ROW_FORMAT = DYNAMIC;

SET FOREIGN_KEY_CHECKS = 1;
</pre>
<hr/>
<h3>配置文件：</h3>
<pre class="layui-code code-demo" lay-options="{theme: 'dark'}">
spring:
  datasource: #配置数据源
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/drug
    username: root
    password: admin123
  data: #配置redis
    redis:
      host: localhost
      port: 6379
  threads:
    virtual:
      enabled: true #启用虚拟线程
  servlet:
    multipart:
      max-file-size: 3MB #单个文件大小：默认最大为1MB
      max-request-size: 15MB  #单次请求总大小：默认最大为10MB

mybatis: #配置MyBatis
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true    #开启驼峰命名映射
    cache-enabled: true    #开启二级缓存(mapper级别)

server:
  servlet:
    session:
      timeout: 60m #设置会话过期时间
  port: 8080
</pre>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['jquery', 'layer', 'colorpicker', 'rate'], function ($, layer, colorpicker, rate) {

        layer.msg('此页面目前仅展示部分Layui组件');

        // 渲染颜色选择器
        colorpicker.render({
            elem: '#colorPicker',
            size: 'xs',
            color: '#16baaa',
            predefine: true,
            alpha: true,
            done: function (color) {
                color || this.change(color);
            },
            change: function (color) {
                $('h3').css('color', color);
            },
            cancel: function (color) {
                this.change(color);
            }
        });

        // 渲染评分组件
        rate.render({
            elem: '#ID-rate-demo-half',
            value: 0,
            half: true,
            text: true,
            choose: function (value) {
                layer.msg('您的评分：' + value);
            }
        });

        // 渲染代码预览组件
        layui.code({
            elem: '.code-demo'
        });
    });
</script>
</body>
</html>