<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>更多信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/layui/css/layui.css" rel="stylesheet">
</head>
<body>

<div class="layui-padding-3">

    <blockquote class="layui-elem-quote">
        <h3>药品管理系统</h3>
        <h4>作者：张宏业</h4>
        <h4>手机：18201521341</h4>
        <h4>邮箱：3030695949@qq.com</h4>
        <h4>博客：<a href="https://blog.csdn.net/SuperCodeZhy" target="_blank">https://blog.csdn.net/SuperCodeZhy</a></h4>
        <h4>GitHub：<a href="https://github.com/China-Zhy/DrugManage" target="_blank">https://github.com/China-Zhy/DrugManage</a></h4>
    </blockquote>
    <br>

    <hr class="layui-border-red">
    <hr class="layui-border-orange">
    <hr class="layui-border-green">
    <hr class="layui-border-cyan">
    <hr class="layui-border-blue">
    <hr class="layui-border-black">
    <br/>

    <fieldset class="layui-elem-field layui-field-title">
        <legend>新中国成立后至今的重要历史阶段</legend>
    </fieldset>

    <div class="layui-timeline">
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-face-smile"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">2020年至今，应对重大挑战与国际影响力提升</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-face-smile"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">2015年起，生态文明建设与科技创新</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-face-smile"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">2012-2020年，全面深化改革与脱贫攻坚</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-face-smile"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">2003-2012年，科学发展与和谐社会建设</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-face-smile"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">1993-2002年，市场经济体制建立与深化</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-success"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">1978-1992年，改革开放起步</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-fire"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">1957-1977年，探索中的曲折发展</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis layui-icon-circle"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">1953-1956年，社会主义改造与工业化起步</div>
            </div>
        </div>
        <div class="layui-timeline-item">
            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">1949-1952年，新中国成立与政权巩固</div>
            </div>
        </div>
    </div>

    <!--访问API接口-->
    <div class="layui-btn-group">
        <a href="/toSystemBelle?url=https://v2.xxapi.cn/api/meinvpic" target="_blank">
            <button type="button" class="layui-btn">美女照片</button>
        </a>
        <a href="/toSystemBelle?url=https://v2.xxapi.cn/api/baisi" target="_blank">
            <button type="button" class="layui-btn layui-bg-blue">白丝照片</button>
        </a>
        <a href="/toSystemBelle?url=https://v2.xxapi.cn/api/heisi" target="_blank">
            <button type="button" class="layui-btn layui-bg-orange">黑丝照片</button>
        </a>
        <a href="/toSystemBelle?url=https://v2.xxapi.cn/api/yscos" target="_blank">
            <button type="button" class="layui-btn layui-bg-red">卡通照片</button>
        </a>
        <a href="/toSystemBelle?url=https://v2.xxapi.cn/api/wapmeinvpic" target="_blank">
            <button type="button" class="layui-btn layui-bg-purple">美女照片</button>
        </a>
    </div>
</div>
</body>
</html>