<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>药品管理系统主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-layout layui-layout-admin" style="font-weight: bold;">
    <div class="layui-header">
        <div class="layui-logo layui-bg-black" style="letter-spacing: 3px;">药品管理系统</div>
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect lay-header-event="menuChange">
                <a href="#" title="边栏伸缩"><i id="leftEnumIcon" class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect lay-header-event="menuRefresh">
                <a href="#" title="刷新页面"><i class="layui-icon layui-icon-refresh-3"></i></a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="https://github.com/China-Zhy/DrugManage" title="项目代码" target="_blank">
                    <i class="layui-icon layui-icon-github"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="/toNoticePerson" target="ZHY" title="消息中心">
                    <i class="layui-icon layui-icon-notice"></i>
                    <!-- 如果有新消息，则显示小圆点 -->
                    <!--<span class="layui-badge-dot"></span>-->
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect lay-header-event="menuColor">
                <a href="#" title="主题配色"><i class="layui-icon layui-icon-theme"></i></a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect lay-header-event="menuNote">
                <a href="#" title="小备忘录"><i class="layui-icon layui-icon-note"></i></a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect lay-header-event="menuFull">
                <a href="#" title="充满屏幕">
                    <i class="layui-icon layui-icon-screen-full" id="tool-screen-full"></i>
                </a>
            </li>
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="#">
                    <img th:src="${session.loginUser.base64}" class="layui-nav-img" alt="">
                    <span th:text="${session.loginUser.name}"></span>
                </a>
                <dl class="layui-nav-child" style="text-align: center;">
                    <dd><a href="#">基本资料</a></dd>
                    <dd><a href="#">修改密码</a></dd>
                    <dd lay-header-event="logout"><a href="#">退出登录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect lay-header-event="menuRight">
                <a href="#">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a href="/toMedicine" target="ZHY">
                        <i class="layui-icon layui-icon-form"></i> <cite>药品信息管理</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">
                        <i class="layui-icon layui-icon-component"></i> <cite>药品库存管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/toStockInput" target="ZHY">
                                <i class="layui-icon layui-icon-add-circle"></i> <cite>药品入库管理</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="/toStock" target="ZHY">
                                <i class="layui-icon layui-icon-reduce-circle"></i> <cite>库存量及出库</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="/toRecord" target="ZHY">
                                <i class="layui-icon layui-icon-time"></i> <cite>库存变动记录</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/toVendor" target="ZHY">
                        <i class="layui-icon layui-icon-username"></i> <cite>供应商户管理</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">
                        <i class="layui-icon layui-icon-notice"></i> <cite>通知公告管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/toNoticeAdd" target="ZHY">
                                <i class="layui-icon layui-icon-add-circle"></i> <cite>发布新的通知</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="/toNoticeMange" target="ZHY">
                                <i class="layui-icon layui-icon-tips"></i> <cite>管理全部通知</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="/toBrowse" target="ZHY">
                                <i class="layui-icon layui-icon-time"></i> <cite>通知浏览记录</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/toLogManage" target="ZHY">
                        <i class="layui-icon layui-icon-log"></i> <cite>用户登录日志</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">
                        <i class="layui-icon layui-icon-app"></i> <cite>系统权限管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/toUserMange" target="ZHY">
                                <i class="layui-icon layui-icon-user"></i> <cite>系统用户管理</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="#" target="ZHY">
                                <i class="layui-icon layui-icon-template-1"></i> <cite>系统菜单管理</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="#" target="ZHY">
                                <i class="layui-icon layui-icon-bot"></i> <cite>系统角色管理</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="#" target="ZHY">
                        <i class="layui-icon layui-icon-set"></i> <cite>网站系统设置</cite>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 10px;">
            <iframe src="/toWelcome" name="ZHY" id="ZHY" style="border: none;position: absolute;width: 100%;height: 100%;left: 0;top: 0;right: 0;bottom: 0;"></iframe>
        </div>
    </div>
    <!-- 底部固定区域 -->
    <!--<div class="layui-footer">-->
    <!--    <p style="text-align: center;">-->
    <!--        <a href="https://blog.csdn.net/SuperCodeZhy" target="_blank">Copyright © 张宏业 https://blog.csdn.net/SuperCodeZhy</a>-->
    <!--    </p>-->
    <!--</div>-->
</div>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['layer', 'util', 'jquery'], function () {
        let layer = layui.layer;
        let util = layui.util;
        let $ = layui.jquery;

        // 页面头部工具栏点击事件
        util.event('lay-header-event', {
            menuLeft: function (othis) { // 移动端显示
                layer.msg('移动端展开左侧菜单的操作');
                console.log(othis)
            },
            menuChange: function () {   // 边栏伸缩
                let btn = $('#leftEnumIcon');
                if (btn.hasClass('layui-icon-shrink-right')) {
                    btn.removeClass('layui-icon-shrink-right').addClass('layui-icon-spread-left');
                    $(".layui-side").animate({width: 'toggle'});
                    $(".layui-body").animate({left: '0px'});
                } else if (btn.has('layui-icon-spread-left')) {
                    btn.removeClass('layui-icon-spread-left').addClass('layui-icon-shrink-right');
                    $(".layui-side").animate({width: 'toggle'});
                    $(".layui-body").animate({left: '200px'});
                }
            },
            menuRefresh: function () {  // 刷新页面
                $('#ZHY')[0].contentWindow.location.reload();
            },
            menuRight: function () {  // 右侧菜单
                layer.open({
                    type: 1,
                    title: '更多',
                    content: '<div style="padding: 15px;"><h3>药品管理系统</h3><h4>作者：张宏业</h4><h4>邮箱：3030695949@qq.com</h4></div>',
                    area: ['260px', '100%'],
                    offset: 'rt', // 右上角
                    anim: 'slideLeft', // 从右侧抽屉滑出
                    shadeClose: true,
                    scrollbar: false
                });
            },
            menuColor: function () {
                layer.msg('主题颜色');
            },
            menuNote: function () {
                // 此处以一个简单的 Win10 风格记事本为例
                layer.open({
                    type: 1, // 页面层类型
                    skin: 'layui-layer-win10', // 2.8+
                    shade: 0.01,
                    area: ['50%', '60%'],
                    maxmin: true,
                    title: '*无标题 - 记事本',
                    content: [
                        '<div style="padding: 0 8px; height: 20px; line-height: 20px; border-bottom: 1px solid #F0F0F0; box-sizing: border-box; font-size: 12px;">',
                        // 自定义菜单，此处仅作样式演示，具体功能可自主实现
                        [
                            '<a href="javascript:;">文件(F)</a>',
                            '<a href="javascript:;" >编辑(E)</a> ',
                            '<a href="javascript:;" >格式(O)</a> ',
                            '<a href="javascript:;" >查看(V)</a> ',
                            '<a href="javascript:;" >帮助(H)</a> ',
                        ].join('   '),
                        '</div>',
                        '<textarea style="position: absolute; top: 20px; width: 100%; height: calc(100% - 20px); padding: 6px; border: none; resize: none; overflow-y: scroll; box-sizing: border-box;" id="myNote"></textarea>'
                    ].join('')
                });
            },
            menuFull: function () { // 充满屏幕
                if (!document.fullscreenElement) {
                    document.documentElement.requestFullscreen();
                    document.getElementById("tool-screen-full").setAttribute("class", "layui-icon layui-icon-screen-restore");
                } else {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                        document.getElementById("tool-screen-full").setAttribute("class", "layui-icon layui-icon-screen-full");
                    }
                }
            },
            logout: function () { // 退出登录
                layer.confirm('确定退出登录嘛？', {
                    btn: ['确定', '取消']
                }, function () {
                    $.ajax({
                        url: '/doUserLogout',
                        type: 'GET',
                        success: function (res) {
                            if (res.code) {
                                layer.msg('登出成功！', {icon: 1});
                                setTimeout(() => {
                                    window.location = '/toUserLogin';
                                }, 2000)
                            } else {
                                layer.msg('登出失败！', {icon: 2});
                            }
                        },
                        error: function () {
                            layer.msg('Ajax请求异常！', {icon: 0});
                        }
                    });
                }, function () {
                    layer.msg('已取消登出！');
                });
            }
        });
    });
</script>
</body>
</html>