<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>药品入库(任意)</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
</head>
<body>

<form class="layui-form layui-form-pane layui-margin-3">
    <div class="layui-form-item">
        <div class="layui-col-md3">
            <select lay-search="" name="id" lay-verify="required">
                <option value="">请选择或搜索药品信息</option>
                <option th:each="m : ${medicineList}" th:value="${m.id}" th:text="${m.name}"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-md3">
            <label class="layui-form-label">有效日期</label>
            <div class="layui-input-block">
                <input type="text" name="birthday" id="layDate" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-md3">
            <label class="layui-form-label">药品数量</label>
            <div class="layui-input-block">
                <input type="number" name="count" autocomplete="off" class="layui-input" lay-verify="required|number">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-md3">
            <label class="layui-form-label">药品单价</label>
            <div class="layui-input-block">
                <input type="number" name="price" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-form-text layui-col-md3">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <textarea name="other" class="layui-textarea" lay-verify="required" maxlength="255"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-col-md3">
        <div style="text-align: center;">
            <button class="layui-btn" lay-submit lay-filter="toDo">添加</button>
            <button type="reset" class="layui-btn layui-btn-primary">清空</button>
        </div>
    </div>
</form>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['form', 'layer', 'jquery', 'laydate'], function () {
        let form = layui.form;
        let layer = layui.layer;
        let $ = layui.jquery;
        let laydate = layui.laydate;

        // 渲染日期组件
        laydate.render({
            elem: '#layDate'
        });

        // 自定义验证规则
        form.verify({
            number: function (value) {
                if (value > Math.floor(value)) {
                    return '药品数量应为正整数';
                }
                if (value < 1) {
                    return '请输入一个正整数';
                }
            }
        });

        // 提交事件
        form.on('submit(toDo)', function (data) {
            let field = data.field; // 获取表单字段值

            $.ajax({
                url: '/doInputStock',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(field),
                success: function (res) {
                    if (res.code) {
                        layer.msg('入库成功！', {icon: 1});
                        setTimeout(function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));    // 关闭弹出层
                        }, 2000);
                    } else {
                        layer.msg('入库失败！', {icon: 2});
                    }
                },
                error: function (err) {
                    layer.msg('Ajax请求异常！', {icon: 0});
                }
            });
            return false; // 阻止默认 form 跳转
        });
    });
</script>

</body>
</html>