<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxu.mapper.NoticeMapper">

    <insert id="insertNotice">
        insert into `notice` values (null, #{title}, #{content}, #{sender}, NOW(), #{receiver}, #{status}, #{type})
    </insert>

    <update id="updateNotice">
        update `notice`
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="receiver != null and receiver != ''">
                receiver = #{receiver},
            </if>
            <if test="status != null and status != 0">
                status = #{status}
            </if>
            <if test="type != null and type != 0">
                type = #{type}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectNoticeById" resultType="com.nxu.entity.Notice">
        select * from `notice` where id = #{id}
    </select>

    <select id="selectNotices" resultType="com.nxu.entity.Notice">
        select * from `notice`
        <where>
            <if test="sender != null and sender != 0">
                sender = #{sender}
            </if>
            <if test="status != null and status != 0">
                AND status = #{status}
            </if>
            <if test="type != null and type != 0">
                AND type = #{type}
            </if>
        </where>
        Order by id desc
    </select>

    <!--查询某个用户的未读通知-->
    <select id="selectNoticeByUser" resultType="com.nxu.entity.Notice">
        SELECT n.id, n.title, n.content, n.sender, n.when, n.receiver, n.status, n.type
        FROM notice n
        WHERE n.id NOT IN (
        SELECT b.what
        FROM browse b
        WHERE b.who = #{userId}
        )
        AND n.status = 2
        AND FIND_IN_SET((SELECT u.type FROM user u WHERE u.id = #{userId}), n.receiver)
        Order by n.id desc
    </select>

</mapper>