<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxu.mapper.StockMapper">

    <insert id="insertStock">
        insert into `stock` values(null, #{medicineId}, #{birthday}, #{price}, #{count})
    </insert>

    <update id="updateStock">
        update `stock` set count = #{count} where id = #{id}
    </update>

    <select id="getStockById" resultType="com.nxu.entity.Stock">
        select * from `stock` where id = #{id}
    </select>

    <select id="selectStock" resultType="com.nxu.entity.Stock">
        select * from `stock`
        <where>
            <if test="medicineId != null">
                medicine_id = #{medicineId}
            </if>
        </where>
    </select>

</mapper>